*{
    margin: 0;
    padding: 0;
}
.main-header{
    display: flex;
    height: 80px;
    align-items: center;
}
.main-header-logo-bella{
    height: 60px;
    margin-left: 10px;
}
.main-header-nav{
    display: flex;
    width: 40%;
    margin-left: 30px;
}
.main-header-nav-buttons{
    margin-left: 30px;
    font-size: 18px;
}

.main-header-details{
    display: flex;
    margin-left: 38%;
}
.main-header-details-profile-text{
    color: gray;
    font-size: 14px;
}
.main-header-details-cart-icon{
    margin-left: 60px;
    color: rgb(188, 122, 0);
}
.main-section{
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}
.main-section-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
.main-section-products-images{
    width: 300px;;
}
.main-section-products-title{
    margin: 10px;
}
.main-section-products-price{
    color: gray;

}
.product-info{
    display: flex;
    height: 500px;
}
.product-info-details{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.product-info-details-number{
    color: gray;
    font-size: 16px;
}
.product-info-details-title{
    font-size: 48px;
}
.product-info-details-description{
    color: gray;
}
.product-info-details-price{
    font-size: 36px;
}
.product-info-details-quantity{
    width: 100px;
    height: 30px;
}
.product-info-details-addcart{
    padding: 10px;
    width: 150px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(188, 122, 0);
    color: white;
}